.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  color: white;
  background-color: #cf9400;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}