nav {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #ffffff;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
}

#tweeter-logo {
  align-self: flex-end;
  font-family: 'Bungee', cursive, sans-serif;
}

#btn-write-new {
  align-self: center;
}